


<section id="clients">

	<div class="row animate-this">
		
			<div class="col-twelve">

				<div class="client-lists owl-carousel">
					
						<div><img src="~/infinity/images/logo.svg" style="height:150px; width:100%; object-fit:contain;" alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/ocean.png" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/timal.jpeg" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/samsa.jpeg" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/black.png" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/arkali2.png" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/pex" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
						<div><img src="~/infinity/images/logobg.png" style="height: 150px; width: 100%; object-fit: contain; " alt="Equinoxcode"></div>
					
					</div>

			</div> <!-- end col-twelve -->
		
	</div> <!-- end row -->

</section> <!-- end clients -->
